<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Recipe Generator</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <%- include('nav'); -%>
        <% if (user != 'guest') {%>
            <main>
                <div class="drink-container">
                    <div class="favorite">
                        <h1><%= drinkName %></h1>
                        <a class="fa fa-star" id="favoriteButton" href="/addFavoriteDrink/<%-id%>"></a>
                    </div>
                    
                    <br>
                    <div class="content-container">
                            <%- image %>
                        <div>
                            <h2>Ingredients</h3>
                            <%- ingredients %>    
                        </div>
                        
                        
                    </div>
                    <h3>Instructions</h2>
                        <%- instructions%>
    
                </div>
    
            </main> 
        <%} else {%>
                <%- include('error'); -%>
        <%}%>

        
    </body>
</html>