<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Drink Curator</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <%- include ('nav'); -%>
        <% if (user != 'guest') {%>
            <main class = 'main-container'>
                <div class ='main-item item1'>
                    <h1>Favorite Drinks</h1>
                    <div class="recommended">
                        <table id="recTable">
                            <thead>
                                <tr>
                                    <th>Drink Name</th>
                                    <th>Recipe</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%- favorites %>
                            </tbody>
                            <tfoot>
    
                            </tfoot>
                        </table>
    
                    </div>
                </div>
                <div class ='main-item item2'>
                    <h1>Drink Inventory</h1>
                    <div class='inventory'>
                        <form action="remove" method="post">
                            <%- inventory %>
                            <input type ='submit' value="Remove"> 
                        </form>
                    </div>
                </div>
                <div class ='main-item item3'>
                    <h1>Drink Finder</h1>
                    <form method="post" action = 'processFilters'>
                        <fieldset>
                            <label for="category">Choose a Category</label>
                            <select name="category">
                                <%- categories %>
                            </select>    
                        </fieldset>
                        <br>
                        
                        <input type="submit" value="submit">
                    </form>
                    <br>
                    <table id="recTable">
                        <thead>
                            <tr>
                                <th style="padding-right:50vw;">Drink Name</th>
                                <th>More Information</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%- entries %>
                        </tbody>
                        <tfoot>
    
                        </tfoot>
                    </table>
                </div>
            </main>
        <%} else {%>
                <%- include('error'); -%>
        <%}%>

    </body>
    <script type="text/javascript" src="/favoriteToggle.js"></script>
</html>